# Crystal Clock - use 32MHz onboard oscillator
NET "clock" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns;

# Wing A
NET "A" LOC = "P18" | IOSTANDARD = LVTTL | PULLUP;
NET "B" LOC = "P23" | IOSTANDARD = LVTTL | PULLUP;
NET "PB" LOC = "P26" | IOSTANDARD = LVTTL | PULLUP;

NET "segments<0>" LOC = "P60";
NET "segments<1>" LOC = "P62";
NET "segments<2>" LOC = "P65";
NET "segments<3>" LOC = "P67";
NET "segments<4>" LOC = "P70";
NET "segments<5>" LOC = "P79";
NET "segments<6>" LOC = "P84";
NET "dp" LOC = "P86";

# Wing B
NET "sel<0>" LOC = "P85";
NET "sel<1>" LOC = "P83";
NET "sel<2>" LOC = "P78";
NET "sel<3>" LOC = "P71";

# Wing C
#NET "leds<0>" LOC = "P91";
#NET "leds<1>" LOC = "P94";
#NET "leds<2>" LOC = "P98";
#NET "leds<3>" LOC = "P3";
#NET "leds<4>" LOC = "P5";
#NET "leds<5>" LOC = "P10";
#NET "leds<6>" LOC = "P12";
#NET "leds<7>" LOC = "P16";
